body {
    background-color: black;
}

#book1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30%;
    height: 150px;
}

#book2 {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30%;
    height: 150px;
}

form {
    display: grid;
    grid-template-columns: 200px 200px ;
    grid-auto-rows: 50px;
    padding-bottom: 50px;
    justify-content: center;
    background-color: black;
    align-items: center;
}

form > label {
    color: white
}

.cardholder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    gap: 20px;

    background-color: black;
}

.card {
    border: 3px solid rgb(0, 92, 0);
    background-color: rgb(191, 181, 247);
    border-radius: 30px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right:30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.3fr 1fr 1fr;
    position: relative;
}

.title {
    grid-column: 1 / 3;
    text-align: center;
}

.readlabel {
    grid-column: 2 / 3;
    justify-self: end;
    align-self: end;
}

.exitbutton {
    position: absolute;
    top: 10px;
    right: 10px;
}

h2{
    margin:0;
}